.form-wrapper {
    width: 350px;
    height: 210px;
    margin: 150px auto;
    padding: 0 20px 20px 20px;
}
.form-wrapper__submit {
    float: right;
    padding-top: 10px;
}
body {
    background-color:#f8f8f8;
}